@import 'variables';
.test {
    color: $red-color;
    background-color: wheat;
}

.search-form {
    margin-left: 50px;
    margin-top: 50px;
}

.user-avartar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

select.custom-select.checkbox-select-all-options {
    width: 202px;
    margin: 0 16px;
}